@model WardrobeMVC.Models.Bottom

@{
    ViewBag.Title = "Details";
}

<div class="jumbotron" id="bottomdetails">
    <h1>Wardrobe for a Revolution</h1>
    <p class="lead">organize your clothes to suit your cause.</p>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="thumbnail" style="color:black; text-align:center">
            <img src=@Html.DisplayFor(model => model.BottomPhoto) alt="...">
            <div class="caption">
                <h3>@Html.DisplayFor(model => model.BottomName)</h3>
                <p>@Html.DisplayFor(model => model.BottomNotes)</p>
                    <p>@Html.DisplayFor(model => model.Season.SeasonName)</p>
                    <p>@Html.DisplayFor(model => model.Occasion.OccasionName)</p>
                   <p> @Html.DisplayFor(model => model.Color.ColorName)</p>
                <p>@Html.ActionLink("Edit This", "Edit", "Bottoms", new { id = Model.BottomID }, new { @class = "btn btn-default" }) @Html.ActionLink("Back to List", "Index", "Bottoms", new { @class = "btn btn-default" })</p>
            </div>
        </div>
    </div>
</div>





@*<div>
    <h4>Bottom</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BottomName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BottomName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BottomPhoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BottomPhoto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BottomNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BottomNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClothesType.TypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClothesType.TypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color.ColorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color.ColorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Occasion.OccasionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Occasion.OccasionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Season.SeasonName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Season.SeasonName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BottomID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
