@model WardrobeMVC.Models.Shoe

@{
    ViewBag.Title = "Details";
}

<div class="jumbotron" id="shoedetails">
    <h1>Wardrobe for a Revolution</h1>
    <p class="lead">organize your clothes to suit your cause.</p>
    <p class="glyphicon glyphicon-fire"></p>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="thumbnail" style="color:black; text-align:center">
            <img src=@Html.DisplayFor(model => model.ShoePhoto) alt="shoes">
            <div class="caption">
                <h3>@Html.DisplayFor(model => model.ShoeName)</h3>
                <p>
                    @Html.DisplayFor(model => model.ShoeNotes)<br /> 
                    @Html.DisplayFor(model => model.Season.SeasonName)<br /> 
                    @Html.DisplayFor(model => model.Occasion.OccasionName)<br /> 
                    @Html.DisplayFor(model => model.Color.ColorName)<br /> 
                </p>
                <p>@Html.ActionLink("Edit This", "Edit", "Shoes", new { id = Model.ShoeID }, new { @class = "btn btn-default" })@Html.ActionLink("Back to List", "Index", "Shoes", new { @class = "btn btn-default" })</p>
            </div>
        </div>
    </div>
</div>




