@model WardrobeMVC.Models.Accessory

@{
    ViewBag.Title = "Details";
}

<div class="jumbotron" id="accessorydetails">
    <div class="container">
        <h1>Wardrobe for a Revolution</h1>
        <p class="lead">organize your clothes to suit your cause.</p>
        <p class="glyphicon glyphicon-fire"></p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="thumbnail" style="color:black; text-align:center">
            <img src=@Html.DisplayFor(model => model.AccessoryPhoto) alt="Accessory">
            <div class="caption">
                <h3>@Html.DisplayFor(model => model.AccessoryName)</h3>
            </div>
            <div>
                <p>@Html.DisplayFor(model => model.AccessoryNotes)</p> 
                <p>@Html.DisplayFor(model => model.Season.SeasonName)</p> 
                <p>@Html.DisplayFor(model => model.Occasion.OccasionName)</p> 
                <p>@Html.DisplayFor(model => model.Color.ColorName)</p>

                <p>@Html.ActionLink("Edit This", "Edit", "Accessories", new { id = Model.AccessoryID }, new { @class = "btn btn-default" }) @Html.ActionLink("Back to List", "Index", "Accessories", new { @class = "btn btn-default" })</p>
            </div>
        </div>
    </div>
</div>


